.transition{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* Galleries list section */

.galleries .gallery_cover {
    display: inline-block;
}
.galleries .gallery_cover img, .galleries .gallery_cover span{
    display: block;
}
.galleries .gallery_cover span{
    text-align: center;
    padding-top:6px;
}
.galleries .center{
    text-align: center;
}
.galleries .album_description{
    padding: 10px;
    text-align: left;
}

/* Gallery page */

.gallery .gallery_photo {
    display: inline-block;
}
.gallery .gallery_photo img, .gallery .gallery_photo span{
    display: block;
}
.gallery .gallery_photo span{
    text-align: center;
    padding-top:6px;
}
.gallery .center{
    text-align: center;
}
.gallery .album_description{
    padding: 10px;
    text-align: left;
}

.limiter{
    display: block;
    height: 30px;
    position: relative;
}
.limiter .limit{
    right: 10px;
    position: absolute;
}
.album_link{
    text-decoration: none;
}
.thumbnail>span{
    text-decoration: none;
}
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.thumbnail{
    outline: none;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    color:#38B0E3;
    border-radius: 4px;
    text-decoration: none;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #337ab7;
    color:#23527c;
}